# Dependency Directory
node_modules/

# Enviromental Variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*.sublime*
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# DB
prisma/*.db
prisma/*.db-journal
prisma/migrations/

# Sonarqube
.sonarqube/
.scannerwork/